:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --dark-bg-text-color: #ffffff;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --bg-color: #e5e5e5;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
address {
  font-style: normal;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
}
.link:hover,
.link:focus,
.logo-part1,
.current {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}
.logo-part2 {
  color: var(--logo-text-color);
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.page-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
}
.section-title,
.header,
.feature-title,
.team-title,
.projets-title {
  color: var(--title-color);
}
.header {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}
.header-contacts {
  color: var(--main-text-color);
}
.dark-bg {
  background-color: var(--dark-bg-color);
  color: var(--dark-bg-text-color);
}
.feature-title {
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
}
.team {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  background-color: var(--dark-bg-text-color);
}
.team-title {
  font-weight: 500;
}
.team-bg-color {
  background-color: var(--light-bg-color);
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}
.projects {
  font-size: 16px;
  line-height: 1.875;
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.button-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: var(--title-color); /*var(--dark-bg-text-color);*/
  /*background-color: var(--accent-color);*/
  background: var(--light-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.button-filter-link:hover,
.button-filter-link:focus .button-filter-link:active {
  text-decoration: none;
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
}
/* Позиціонування */
